*{
    box-sizing: border-box;
    margin: 0; 
}

body{
    overflow: hidden;
}

header{
    background-color: black;
    padding-top: 0.65em;
    display: flex; 
}

header img{
    width: 15em; 
    margin: auto; 
}

footer{
    background-color: black; 
    color: white; 
    position: absolute;
    bottom: 0; 
    width: 100%; 
    text-align: center;
}

.middleSection{
    background-color: grey;
    position: absolute;
    top: 4.3em; 
    bottom: 0px; 
    width: 100%; 
}

.middleSectionOffset{
    position: relative;
    height: 100%;
}

.projectSection, .taskSection{
    overflow-y: scroll;
}

.projectSection{
    width: 30%;
    height: 100%;
}

.taskSection{
    background: #999;
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    bottom: 0;
}

.projectSectionElement:first-of-type{
    margin-top: 3em; 
}

.projectSectionElement:last-of-type{
    margin-bottom: 3em; 
}

.projectSectionElement{
    cursor: pointer; 
    color: white; 
    width: 60%; 
    margin: auto; 
    margin-bottom: 0.5em; 
    padding: 0.5em 0.5em; 
}

.projectSectionElement + .projectSectionElement{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectSectionElement:hover{
    background-color: rgb(58, 58, 58);
}

.projectSectionElement:hover img{
    display: block;
}

.projectSectionElement img{
    display: none; 
    width: 19px; 
}

.addProject{
    background-color: rgb(32, 32, 32);
}

.active {
    background-color: rgb(58, 58, 58);
}

.projectForm{ 
    margin-top: 1em; 
    display: none; 
    justify-content: space-between;
}

.projectForm input{
    width: 80%; 
}

.projectForm button{
    cursor: pointer; 
}

.projectForm button, .projectForm input{
    border-style: none;
    background-color: white;
}

.visible{
    display: flex;
}
